.gr  {color: green;}
.gr2  {color: green;}
.red  {color:red;}
.gr>span {color: green:}
#blue {color: blue;}
#blue span {color: yellow;}
pink.gr {color: pink;}
#vi:hover {color: violet;}
.gr2:hover>span {color: red;}